.navi {
  @mixin __button($width, $height) {
    width: $width;
    height: $height;
  }
  /* 継承元 */
  %__button {
    border: solid 1px #999;
    box-shadow: 0 2px 2px #aaa;
  }
  &__button {
    &_large {
      @extend %__button; /* %__buttonのスタイルを継承 */
      @include __button(300px, 80px);
    }
    &_small {
      @extend %__button; /* %__buttonのスタイルを継承 */
      @include __button(100px, 40px);
    }
  }
}



.navi {
    @mixin -font-color {
        $color: black, white;
        &-font {
            @each $c in $color {
                &-#{$c} {
                    color: $c;
                }
            }
        }
    }
    @mixin -background-color {
        $color: red, gray;
        &-background {
            @each $c in $color {
                &-#{$c} {
                    background-color: $c;
                }
            }
        }
    }
    @mixin _color {
        @include -background-color;
        @include -font-color;
    }
    @mixin __button($padding, $width) {
        padding: $padding;
        width: $width;
        &_color {
            @include _color
        }
    }
    &_color {
        @include -background-color;
    }
    &__button1 {
        @include __button(8px 0, 100px);
    }
    &__button2 {
        @include __button(16px 0, 300px);
    }
}
