@import "../setting/all";

.panel__heading {
  height: 50px;
  color: #fff;
  background-color: $COLOR__MAIN;
  border-color: #ddd;
  margin-bottom: 5px;
  padding: 13px 20px;

  &_font_size_sm {
  font-weight: 600;
  font-size: 1.8rem;


  }
}

.panel__body {
  display: flex;
  justify-content: left;
  padding: 8px;
  background-color: white;
  margin-bottom: 5px;
  height: 75px;

  img {
    width: 150px;
    height: 60px;
  }
}

.panel__image {
  justify-content: left;
  width: 170px;
  
  a:hover img {
    opacity: 0.7; /* 透過レベル */
    filter: alpha(opacity=80);
  }

}

.panel__wrap {
  display: flex;
  flex-wrap: wrap;
}

.panel__ranking {
  height: 50%;
  width: 100%;
}

.panel__panelbody_center {
    padding: 11px 11px;
}

@media #{$small} { 
.panel__body img {
    width: 60px;
    height: 60px;
  }

.panel__heading {
  &_font_size_sm {
  font-weight: 400;
  font-size: 1.2rem;
   }
 }

 .panel__image {
    width: 90px;
}
}

