// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bgDefault      : #f7b10e;
$bgHighlight    : #e8350e;
$colDefault     : #181919;
$colHighlight   : #ecdbff;
$dropDown       : false;

* {font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

header {
  margin: 0px;
  background-color: #f8f8f6;
}
h1 {
      margin: 0px;

 // font-size: 11px;
}
.navbar {
  margin: 0;
  padding: 0;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, .75);
  border-right: 1px solid rgba(0, 0, 0, .1);
}
.navbar .nav li:first-child a {
  border-left: 0;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}
.navbar .nav li a:hover {
  background-color: #e6ebfa;
  color: #2222ff;
}
.navbar .nav li a span {
  font-size: 73%;
  color: #2222ff;
}
.navbar .nav li a:hover span {
  color: #8f8f8f;
}

.wrapper {
 background-color: #f9f6ea;
 padding-bottom: 40px;
}

.bgc_white {
  background-color: white;
  margin-top: 10px;
}

section {
  
  h1 {
    background: #323232;
    color: #fff;
    border-left: 4px solid #ED7600;
    padding: 12px 16px;
    margin: 5px 5px 10px 0px;
  }
}
.jstree {
  background-color: white;
}


.sidebar {

}

.school__name {
  width: 350px;
  height: 20px;
  margin-left: 30px;

}

.school_name_font {
  font-size: 24px;
  font-weight: bold;
  color: gray;
}

.school__image {
}

.school__submit {
  justiy-content: flex-end;
}

.sidebar__thumbnail {
  width: 50px;
  height: 50px;
}

.sidebar__content {
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
 .navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
 }
 .navbar .nav li {
  display: table-cell;
  float: none;
 }
 .navbar .nav li a {
  text-decoration: none;
 }
}



@media (max-width: 980px) {
  .menu_display_hidden {
    display: none;
  }
}


@media (max-width: 768px) {
 .navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  text-decoration: none;
 }
 .nav li a span {
  display: none;
 }
}
.carousel-inner img{
  width: 100%;
}
h2 {
 position: relative;
 color: #000000;
 font-size: 18px;
 font-weight: bold;
 margin: 1.0em 0 0.8em;
 padding: 0.5em 0.5em 0.5em 1.7em;
 border-bottom: 3px solid #2222ff;
}
h2:before{
 content: "";
 position: absolute;
 background: #00a0e6;
 top: 0.6em;
 left: 0.4em;
 height: 12px;
 width: 12px;
 -moz-transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
}
.news dl {
  width: 99%;
  height: 10em;
  margin: 1em 0 0;
  padding: 0.5em;
  font-size: 100%;
  line-height: 1.2em;
  overflow: auto;
}
.news dt
{
  clear: left;
  float: left;
  width: 7.5em;
  font-weight: bold;
  color: #505050;
}
.news dd
{
  color: #505050;
  margin-left: 7.5em;
  margin-bottom: 0.8em;
}
.news dd img {
  margin-bottom: 0.4em;
}

.main {
  background-color: #f7f5f5;
}


.school__image {

}

.school__name {

}

.school__comment {
}

.school__submit {

}


.search {
  background-color: white;
}

.fa-commenting-o {
 color: gray;
 margin-left: 10px;
}


.panel-content {
  width: 100%;
  height: 50%;
  font-weight: bold;
  font-size: 23px;
  line-height: 22px;
  margin-bottom: 20px;
  color: #39a9c0;
}

.alert {
    padding: 0;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 0px;
}

.time {
 margin-left:10px;
}
.rank1 {
    background: #f7c757;
    width: 50px;
    text-align: center;
    color: #67470c;
    font-weight: bold;
    display: inline-block;
}

.panel-default {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    border-color: #ddd;
}

.sidebar {
 background-color: #f7f5f5;
 margin-top: 18px;
}


#sidebar {
 padding-top: 16px;
}
#sidebar ul.submenu {
 margin: 0;
 padding: 0;
}
#sidebar ul.submenu li a {
 border-bottom: 1px solid #d2d2d2;
 text-decoration: none;
 display: block;
}
#sidebar ul.submenu li a:hover {
 background-color: #e6ebfa;
 color: #2222ff;
}
#sidebar h3 {
 font-size: 100%;
 padding: 15px 10px;
 background: #f8f8f8;
 border-bottom: 1px solid #d2d2d2;
 border-top: 5px solid #2222ff;
}
footer {
 clear: both;
 background-color: #444;
 bottom: 0px;
 padding: 15px 5px 0 5px;;
 color: #fff;
 font-size: 12px;
}
footer .navbar-nav li a {
 text-align: center;
 color: #fff;
 padding-left: 0.5em;
 text-decoration: underline;
}
footer .navbar-nav li a:hover {
 color: #dcdcdc;
}
.copyright{
 text-align: left;
 font-size: 90%;
}

hr {
  border-top: 1px dotted #bbb;
}

.school_wrap img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.school__koushiki {
  width: 100%;
  text-align: center;

  img {
    width: 580px;
    height: 139px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    }

    a:hover img {
      opacity: 0.7; /* 透過レベル */
      filter: alpha(opacity=80);
    }

}



@media (max-width: 980px) {
  .school_wrap img {
    width: 700px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .school_wrap img {
    width: 295px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .school__koushiki img {
  width: 320px;
  height: 139px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.school_name_font {
  font-size: 12px;
}

.school__name {
    width: 350px;
    height: 20px;
    margin-left: 10px;
}

}

