
body {
  background-color: #f9f6eb;
  //color: $COLOR__LINK;
}


//bootsrap overwrite
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>thead>tr>th {
    border-style: none;
  }

  .alert, .alert-danger{
    background-color: transparent;;
  ul{
    padding: 0;
  }
  li {
      list-style-type: none;
    }
  }

