@import "font";

$COLOR__DEFAULT: #333;
$COLOR__LINK: #00a9c7;

$COLOR__MAIN: #FF0000;



$COLOR__PRIMARY:        #fafafa;

$COLOR__TEXT-BASE:      #444444;
$COLOR__TEXT-INVERSE:   #eeeeee;

$COLOR__BG-BASE:        #fafafa;
$COLOR__BG-INVERSE:     #242B33;

$COLOR__THEME-RED:      #E84E3C;
$COLOR__THEME-ORANGE:   #F29933;
$COLOR__THEME-YELLOW:   #F2C10F;
$COLOR__THEME-LIME:     #99DE37;
$COLOR__THEME-GREEN:    #33D463;
$COLOR__THEME-EMERALD:  #31DEA7;
$COLOR__THEME-CYAN:     #36CFE0;
$COLOR__THEME-AQUA:     #49AAE3;
$COLOR__THEME-BLUE:     #427AE3;
$COLOR__THEME-DEEPBLUE: #4353E0;
$COLOR__THEME-VIOLET:   #8B41E0;
$COLOR__THEME-PURPLE:   #C34FE0;
$COLOR__THEME-WINERED:  #EB497F;

$COLOR__BRAND-FACEBOOK: #3B5998;
$COLOR__BRAND-TWITTER:  #00acee;
$COLOR__BRAND-HATENA:   #2c6ebd;
$COLOR__BRAND-POCKET:   #ee4056;
$COLOR__BRAND-GPLUS:    #dd4c39;
$COLOR__BRAND-FEEDLY:   #2bb24c;
