// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.comments__area {
  width: 100%;
  display: flex;
}

.comments__area_center {
  padding: 15px;
}


.comments__item {
 font-size: 20px;
 color: skyblue;
 font-weight: bold;
}

.comments__data {
 color: gray;
}


.comments__plus_minus {
 justify-content: right;

}

.comments_vote_area {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.comments__progress_center {
margin-top: 40px;
margin-bottom: 10px;

}

.school_wrap img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.school__koushiki {
 width: 580px;

}

.school__koushiki img {
  width: 580px;
  height: 139px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}



@media (max-width: 980px) {
  .school_wrap img {
    width: 700px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .school_wrap img {
    width: 295px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

